.content {
    padding-left: $page-pad;
    padding-right: $page-pad;
    @include tablet-landscape-down {
        padding-left: ($page-pad / 2);
        padding-right: ($page-pad / 2);
    }
    @include phone-only {
        padding-left: ($page-pad / 3);
        padding-right: ($page-pad / 3);
    }
}