.features {
    &__row {
        display: flex;
        &:nth-child(2n+3) {
            .features__block {
                min-height: 330px;
            }
        }
    }
    &__block {
        flex-grow: 0;
        flex-shrink: 1;
        min-height: 394px;
    }
    &__block_small {
        flex-basis: (401px / 1180px) * 100%;
    }
    &__block_big {
        flex-basis: (779px / 1180px) * 100%;
    }
}