.features {
    display: flex;
    flex-flow: row wrap;
    @include tablet-portrait-down {
        flex-flow: column nowrap;
    }
    &__block {
        flex-grow: 0;
        flex-shrink: 1;
        min-height: 394px;
        transition: all .3s;
        &:hover {
            box-shadow: 0 0 62px #000;
            z-index: 1;
        }
        &_short {
            min-height: 330px;
        }
        &_small {
            width: (401px / 1180px) * 100%;
        }
        &_big {
            width: (779px / 1180px) * 100%;
        }
        @include tablet-landscape-down {
            &_big,
            &_small {
                width: 50%;
            }
        }
        @include tablet-portrait-down {
            &_big,
            &_small {
                width: 100%;
            }
        }
    }
}