.header {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;

  display: flex;

  padding-top: 20px; //39 original
  padding-bottom: 25px; //0 original

  text-transform: uppercase;

  justify-content: space-between;
  align-items: flex-start;
}

#top {
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;
}
