.logo {
    top: 3%;
    position: fixed;
    float: left;
    left: 5%;
}

.logo__image {
    margin: 0 auto;
}

.logo__text {
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid #a2ca28;
    text-decoration: none;
    position: relative;
    bottom: 20px;
    color: white;
}