.logo {
    font-size: 2.4rem;
    letter-spacing: 2.4px;
    color: #fff;
    margin-left: 52px;
    // margin-top: 39px;
    padding-bottom: 5px;
    padding-left: 43px;
    z-index: 3;
    @extend %before;
    @include tablet-portrait-down {
        margin-left: 30px;
    }
    &::before {
        content: url('../img/logo.png');
        top: 0;
        left: 0;
    }
    &::after {
        height: 3px;
        width: 38px;
        background-color: $maincolor;
        left: 45px;
        top: 32px;
    }
}