.photo-block {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @for $i from 1 through 6 {
        &_#{$i} {
            background-image: url('../img/feature_photo_#{$i}.jpg');
            @include tablet-portrait-down {
                order: $i * 2;
            }
        }
    }
    &__label {
        font-size: $small-fz;
        color: #fff;
        span {
            color: $secondcolor;
        }
        &_white {
            font-family: $secondfont;
            text-transform: uppercase;
        }
        &_drop {
            @extend %before;
            padding-right: 32px;
            &::before {
                content: url('../img/drop_small_red.png');
                right: 0;
                @extend %vam;
            }
        }
        &_bottom-left {
            align-self: flex-end;
            margin-left: (50px / 779px) * 100%;
            margin-bottom: (45px / 779px) * 100%;
        }
        &_bottom-right {
            align-self: flex-end;
            margin-left: auto;
            margin-right: (41px / 779px) * 100%;
            margin-bottom: (45px / 779px) * 100%;
        }
        &_top-left {
            align-self: flex-start;
            margin-top: (62px / 779px) * 100%;
            margin-left: (59px / 779px) * 100%;
        }
        &_top-right {
            align-self: flex-start;
            margin-left: auto;
            margin-top: (62px / 779px) * 100%;
            margin-right: (58px / 779px) * 100%;
            padding-right: 31px;
            @extend %before;
            &::before {
                content: url('../img/label.png');
                right: 0;
                @extend %vam;
            }
        }
    }
}