.text-block {
    text-align: left;
    padding: 55px (52px / 1180px * 100%) 0;
    background-color: #fff;
    @for $i from 0 through 5 {
        &_#{$i} {
            @include tablet-portrait-down {
                order: 1 + $i * 2;
            }
        }
    }
    @extend %before;
    &::before {
        top: 56px;
        right: 36px;
    }
    &_center {
        text-align: center;
        .text-block__headline {
            margin-bottom: 0;
            padding-bottom: 47px;
            margin-bottom: 21px;
            @extend %before;
            &::before {
                content: url('../img/drop_small_gray.png');
                bottom: 0;
                @extend %ham;
            }
        }
    }
    &_green {
        background-color: $maincolor;
        .text-block__headline,
        .text-block__subheadline,
        .text-block__description {
            color: #fff;
        }
    }
    &_man {
        &::before {
            content: url('../img/man.png');
        }
    }
    &_strawberry {
        &::before {
            content: url('../img/strawberry.png');
        }
    }
    &_avocado {
        &::before {
            content: url('../img/avocado.png');
        }
    }
    // &_shadow {
    //     box-shadow: 0 0 62px #000;
    // }
    &__headline {
        font-size: $head2-fz;
        font-weight: 300;
        color: $maincolor;
        text-transform: uppercase;
        margin-bottom: 37px;
    }
    &__subheadline {
        font-family: $secondfont;
        color: $secondcolor;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &__description {
        color: $textcolor;
        margin-bottom: 8px;
        line-height: (26 / 14);
    }
    &__more {
        color: $maincolor;
        border-bottom: 1px solid $maincolor;
    }
}