//fonts
$basefont: 'Open Sans',
sans-serif;
$secondfont: 'Montserrat',
sans-serif;
//paddings
$page-width: 1600px;
$page-pad: 208px / $page-width * 100%;
//font-sizes
$base-fz: 1.4rem;
$small-fz: 1.2rem;
$head2-fz: 3.5rem;
//colors
$maincolor: #a2ca28;
$secondcolor: #fd634e;
$textcolor: #656e74;