html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

select {
  border: none; }
  select:focus {
    outline: none; }

img {
  max-width: 100%; }

input {
  border: none;
  background: none; }
  input:focus {
    outline: none; }

.document {
  font-size: 62.5%;
  line-height: 1.71428571; }

.page {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

.header {
  margin: 0;
  background-image: url(../img/header_bg.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.logo {
  top: 3%;
  position: fixed;
  float: left;
  left: 5%; }

.logo__image {
  margin: 0 auto; }

.logo__text {
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #a2ca28;
  text-decoration: none;
  position: relative;
  bottom: 20px;
  color: white; }

.nav {
  margin: 0 auto;
  position: fixed;
  float: right;
  right: 1%;
  top: 9%; }

.nav__list {
  display: inline;
  padding-right: 52px; }

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase; }

.tagline {
  position: relative;
  top: 85%;
  left: 5%; }

.tagline__bottom {
  margin: 0 auto;
  position: relative;
  left: 12%;
  color: white;
  text-transform: uppercase;
  font-size: 20px; }

.tagline__text_big {
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  font-size: 40px; }

.tagline__slash {
  color: #fd634e; }

.tagline__slash_big {
  color: #a2ca28; }

.content {
  padding-left: 13%;
  padding-right: 13%; }

.features__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .features__row:nth-child(3) .features__block {
    min-height: 330px; }

.features__block {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  min-height: 394px; }

.features__block_small {
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; }

.features__block_big {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%; }

.photo-block_1 {
  background: url("../img/feature_photo_1.jpg") 0 0 no-repeat; }

.photo-block_2 {
  background: url("../img/feature_photo_2.jpg") 0 0 no-repeat; }

.photo-block_3 {
  background: url("../img/feature_photo_3.jpg") 0 0 no-repeat; }

.photo-block_4 {
  background: url("../img/feature_photo_4.jpg") 0 0 no-repeat; }

.photo-block_5 {
  background: url("../img/feature_photo_5.jpg") 0 0 no-repeat; }

.photo-block_6 {
  background: url("../img/feature_photo_6.jpg") 0 0 no-repeat; }
