.logo, .deal__headline, .text-block, .text-block_center .text-block__headline, .photo-block__label_drop, .photo-block__label_top-right {
  position: relative; }
  .logo::before, .deal__headline::before, .text-block::before, .text-block_center .text-block__headline::before, .photo-block__label_drop::before, .photo-block__label_top-right::before {
    position: absolute;
    display: block;
    content: ''; }
  .logo::after, .deal__headline::after, .text-block::after, .text-block_center .text-block__headline::after, .photo-block__label_drop::after, .photo-block__label_top-right::after {
    position: absolute;
    display: block;
    content: ''; }

.text-block_center .text-block__headline::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.photo-block__label_drop::before, .photo-block__label_top-right::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none; }

* {
  box-sizing: border-box; }

select {
  border: none; }
  select:focus {
    outline: none; }

img {
  max-width: 100%; }

input {
  border: none;
  background: none; }
  input:focus {
    outline: none; }

.document {
  font-size: 62.5%;
  line-height: 1.71428571; }

.page {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

.content {
  padding-top: 1px;
  background-image: -webkit-linear-gradient(bottom, #fd634e 0%, #fd634e 1448px, #a2ca28 1449px, #a2ca28 100%);
  background-image: linear-gradient(to top, #fd634e 0%, #fd634e 1448px, #a2ca28 1449px, #a2ca28 100%); }

.container {
  padding-left: 8.66667%;
  padding-right: 8.66667%; }

.header {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  z-index: 2;
  text-transform: uppercase; }

.logo {
  font-size: 2.4rem;
  letter-spacing: 2.4px;
  color: #fff;
  margin-left: 52px;
  padding-bottom: 5px;
  padding-left: 43px;
  z-index: 3; }
  .logo::before {
    content: url("../img/logo.png");
    top: 0;
    left: 0; }
  .logo::after {
    height: 3px;
    width: 38px;
    background-color: #a2ca28;
    left: 45px;
    top: 32px; }

.nav-list__item {
  display: inline-block;
  padding-right: 65px; }

.nav-list__link {
  font-size: 1.3rem;
  line-height: 1.85;
  letter-spacing: 1px;
  text-align: right;
  color: #fff; }

.promo {
  height: 100vh;
  padding-top: 1px;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.tagline {
  margin-top: 77.328844vh;
  margin-left: 7.3125vh;
  text-transform: uppercase; }
  .tagline__text {
    font-size: 4rem;
    text-align: left;
    color: #fff; }
    .tagline__text_small {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 3px;
      margin-left: 17.957351vh;
      margin-top: 10px; }
      .tagline__text_small .tagline__slash {
        color: #fd634e; }
  .tagline__slash {
    color: #a2ca28; }

.deals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 120px; }

.deal {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 22.015241%;
      -ms-flex: 0 1 22.015241%;
          flex: 0 1 22.015241%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff; }
  .deal::not(::last-child) {
    padding-right: 47px; }
  .deal__headline {
    font-size: 2.4rem;
    text-align: left;
    padding-top: 64px;
    padding-bottom: 32px; }
    .deal__headline::before {
      top: 0;
      left: 0; }
    .deal__headline_resources::before {
      content: url("../img/resources_icon.png"); }
    .deal__headline_train::before {
      content: url("../img/training-icon.png"); }
    .deal__headline_connect::before {
      content: url("../img/connect-icon.png"); }
    .deal__headline_communicate::before {
      content: url("../img/communicate-icon.png"); }
  .deal__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    line-height: 1.71;
    text-align: left;
    padding-bottom: 29px; }
  .deal__link {
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: left;
    margin-top: auto; }

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .features__block {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    min-height: 394px;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .features__block:hover {
      box-shadow: 0 0 62px #000;
      z-index: 1; }
    .features__block_short {
      min-height: 330px; }
    .features__block_small {
      width: 33.98305%; }
    .features__block_big {
      width: 66.01695%; }

.text-block {
  text-align: left;
  padding: 55px 4.40678% 0;
  background-color: #fff; }
  .text-block::before {
    top: 56px;
    right: 36px; }
  .text-block_center {
    text-align: center; }
    .text-block_center .text-block__headline {
      margin-bottom: 0;
      padding-bottom: 47px;
      margin-bottom: 21px; }
      .text-block_center .text-block__headline::before {
        content: url("../img/drop_small_gray.png");
        bottom: 0; }
  .text-block_green {
    background-color: #a2ca28; }
    .text-block_green .text-block__headline,
    .text-block_green .text-block__subheadline,
    .text-block_green .text-block__description {
      color: #fff; }
  .text-block_man::before {
    content: url("../img/man.png"); }
  .text-block_strawberry::before {
    content: url("../img/strawberry.png"); }
  .text-block_avocado::before {
    content: url("../img/avocado.png"); }
  .text-block__headline {
    font-size: 3.5rem;
    font-weight: 300;
    color: #a2ca28;
    text-transform: uppercase;
    margin-bottom: 37px; }
  .text-block__subheadline {
    font-family: "Montserrat", sans-serif;
    color: #fd634e;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .text-block__description {
    color: #656e74;
    margin-bottom: 8px;
    line-height: 1.85714; }
  .text-block__more {
    color: #a2ca28;
    border-bottom: 1px solid #a2ca28; }

.photo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .photo-block_1 {
    background-image: url("../img/feature_photo_1.jpg"); }
  .photo-block_2 {
    background-image: url("../img/feature_photo_2.jpg"); }
  .photo-block_3 {
    background-image: url("../img/feature_photo_3.jpg"); }
  .photo-block_4 {
    background-image: url("../img/feature_photo_4.jpg"); }
  .photo-block_5 {
    background-image: url("../img/feature_photo_5.jpg"); }
  .photo-block_6 {
    background-image: url("../img/feature_photo_6.jpg"); }
  .photo-block__label {
    font-size: 1.2rem;
    color: #fff; }
    .photo-block__label span {
      color: #fd634e; }
    .photo-block__label_white {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
    .photo-block__label_drop {
      padding-right: 32px; }
      .photo-block__label_drop::before {
        content: url("../img/drop_small_red.png");
        right: 0; }
    .photo-block__label_bottom-left {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin-left: 6.41849%;
      margin-bottom: 5.77664%; }
    .photo-block__label_bottom-right {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin-left: auto;
      margin-right: 5.26316%;
      margin-bottom: 5.77664%; }
    .photo-block__label_top-left {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      margin-top: 7.95892%;
      margin-left: 7.57381%; }
    .photo-block__label_top-right {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      margin-left: auto;
      margin-top: 7.95892%;
      margin-right: 7.44544%;
      padding-right: 31px; }
      .photo-block__label_top-right::before {
        content: url("../img/label.png");
        right: 0; }

.banner {
  height: 100vh;
  padding-top: 1px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }
  .banner__headline {
    font-size: 4.5rem;
    letter-spacing: -0.4px;
    text-align: center;
    margin-top: 4.4222222em;
    margin-bottom: 0.8222222em; }
  .banner__text {
    font-size: 1.6rem;
    line-height: 1.44;
    letter-spacing: 0.2px;
    text-align: center; }

.footer {
  padding-top: 70px;
  padding-bottom: 150px;
  background-color: #0d1119; }
  .footer__additional {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 34px; }

.add-block_resources {
  -webkit-box-flex: 4;
  -webkit-flex: 4 1 32.586207%;
      -ms-flex: 4 1 32.586207%;
          flex: 4 1 32.586207%;
  padding-right: 40px; }

.add-block_about {
  -webkit-box-flex: 5;
  -webkit-flex: 5 1 38.5344828%;
      -ms-flex: 5 1 38.5344828%;
          flex: 5 1 38.5344828%;
  padding-right: 40px; }

.add-block_social {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 250px;
      -ms-flex: 3 0 250px;
          flex: 3 0 250px; }

.add-block__headline {
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
  margin-bottom: 24px; }

.add-block__text {
  font-size: 1.4rem;
  line-height: 1.71;
  text-align: left;
  color: #8297a7; }

.social__link {
  width: 51px;
  height: 51px;
  display: inline-block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%; }
  .social__link:not(:last-child) {
    margin-right: 10px; }
  .social__link_fb {
    background-image: url("../img/fb.png");
    background-color: #2e3192;
    background-size: 25%; }
  .social__link_tw {
    background-image: url("../img/tw.png");
    background-color: #00aeef; }
  .social__link_yt {
    background-image: url("../img/yt.png");
    background-color: #ed3123; }
  .social__link_in {
    background-image: url("../img/in.png");
    background-color: #171a8f; }

.subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .subscribe-form__input {
    background: #fff;
    padding: 18px 10px 18px 23px;
    margin-right: 6px;
    border-radius: 2px; }
    .subscribe-form__input::-webkit-input-placeholder {
      font-size: 1.4rem;
      text-align: left;
      color: #83969f; }
    .subscribe-form__input::-moz-placeholder {
      font-size: 1.4rem;
      text-align: left;
      color: #83969f; }
    .subscribe-form__input:-ms-input-placeholder {
      font-size: 1.4rem;
      text-align: left;
      color: #83969f; }
    .subscribe-form__input::placeholder {
      font-size: 1.4rem;
      text-align: left;
      color: #83969f; }
  .subscribe-form__submit {
    background-color: #a2ca28;
    border-radius: 3px;
    padding: 17px 26px 18px 32px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer; }

.js-header-on-scroll {
  background-color: rgba(13, 17, 25, 0.8); }

.mobile-nav {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(13, 17, 25, 0.8); }
  .mobile-nav .nav-list {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px; }
    .mobile-nav .nav-list__item {
      display: block;
      margin-bottom: 30px; }
    .mobile-nav .nav-list__link {
      font-size: 3rem; }
  .mobile-nav__line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px; }
    .mobile-nav__line:not(:last-child) {
      margin-bottom: 7px; }
  .mobile-nav__show {
    margin-right: 40px;
    margin-top: 10px;
    z-index: 3; }

.js-hide {
  display: none; }

@media only screen and (min-width: 1600px) {
  .document {
    font-size: 0.625vw; }
  .container {
    padding-left: 13%;
    padding-right: 13%; } }

@media only screen and (max-width: 1199px) {
  .container {
    padding-left: 6.5%;
    padding-right: 6.5%; }
  .features__block_big, .features__block_small {
    width: 50%; } }

@media only screen and (max-width: 899px) {
  .container {
    padding-left: 0;
    padding-right: 0; }
  .tagline__text {
    font-size: 3.2rem; }
  .tagline__text_small {
    font-size: 1.2rem; }
  .deals {
    padding-left: 40px;
    padding-right: 20px; }
  .deal {
    -webkit-flex-basis: 44.03048%;
    -ms-flex-preferred-size: 44.03048%;
    flex-basis: 44.03048%; }
  .deal:nth-child(n+3) {
    margin-top: 55px; }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
  .features__block_big, .features__block_small {
    width: 100%; }
  .text-block_0 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  .text-block_1 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }
  .text-block_2 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }
  .text-block_3 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7; }
  .text-block_4 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
    -ms-flex-order: 9;
    order: 9; }
  .text-block_5 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
    -ms-flex-order: 11;
    order: 11; }
  .photo-block_1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
  .photo-block_2 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }
  .photo-block_3 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }
  .photo-block_4 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
    -ms-flex-order: 8;
    order: 8; }
  .photo-block_5 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10; }
  .photo-block_6 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
    -ms-flex-order: 12;
    order: 12; }
  .banner__headline {
    font-size: 3rem; }
  .banner {
    padding-left: 40px;
    padding-right: 40px; }
  .footer__additional {
    display: block; }
  .add-block_resources {
    margin-bottom: 50px; }
  .add-block_about {
    margin-bottom: 50px; }
  .add-block {
    padding-left: 40px;
    padding-right: 40px; }
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-left: 40px; }
  .subscribe-form__input {
    width: 60%;
    margin-bottom: 15px; }
  .subscribe-form__submit {
    width: 60%; } }

@media only screen and (max-width: 599px) {
  .deals {
    display: block; }
  .deal:nth-child(n+2) {
    margin-top: 55px; }
  .banner {
    padding-left: 20px;
    padding-right: 20px; }
  .add-block {
    padding-left: 20px;
    padding-right: 20px; }
  .subscribe-form {
    margin-left: 20px; }
  .subscribe-form__input {
    width: 80%; }
  .subscribe-form__submit {
    width: 80%; } }
